# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Ben Hutton <relequestual@cpan.org> <bh7@sanger.ac.uk>
Ben Hutton <relequestual@cpan.org> <relequestual@gmail.com>
